body{
    text-align: center;
}
#line-name{
    width: 100%;
    margin:3% 0;
    color:#FFF;
    background-color:#00B900;
}
#customer_area{
    font-size:1.5rem;
}
#customer_medal,#customer_rankup{width:100%;}
.medal_gold{background-image:url(../img/medal-gold.jpg);}
.medal_silver{background-image:url(../img/medal-silver.jpg);}
.medal_bronze{background-image:url(../img/medal-bronze.jpg);}
.medal_regular{background-image:url(../img/medal-regular.jpg);}
.rankup_gold{background-image:url(../img/rankup-gold.jpg);}
.rankup_silver{background-image:url(../img/rankup-silver.jpg);}
.rankup_bronze{background-image:url(../img/rankup-bronze.jpg);}
.rankup_regular{background-image:url(../img/rankup-regular.jpg);}

