body{
    text-align: center;
}
#line-name{
    width: 100%;
    margin:3% 0;
    color:#FFF;
    background-color:#00B900;
}
#customer_rank{
    display:none;
}
#customer_area{
    font-size:1.5rem;
    margin-top:50%;
}
#rank_gold{
    background-image:url(../img/rank-gold.jpg);
    background-size: cover;
};
