body{
    text-align: center;
}
#lineid{display: none;}
#line-name{
    width: 100%;
    margin:3% 0;
    color:#FFF;
    background-color:#00B900;
}
#customer_point{
    font-size:1.5rem;
}
#customer_medal{width:30%;}
#customer_rankup{width:90%;}
