<!DOCTYPE html>
<html lang="ja">
<head>
    <%- include ("../partials/header.ejs") %>
</head>

<body>
    <%- include ("../partials/nav.ejs") %>
    <div class="toppage">
        <img src="/img/top_image.jpg" class="img">
        <a type="button" class="btn btn-lg btn-outline-primary" id="toUsers" href="/users"><i class="fas fa-users"></i> 顧客情報</a>
        <a type="button" class="btn btn-lg btn-outline-primary" id="toReservations" href="/reservations"><i class="fas fa-book"></i></span> 予約管理</a>
    </div>
    <%- include ("../partials/footer.ejs") %>
</body>
</html>
