<!DOCTYPE html>
<html lang="ja">
<head>
   <%- include ("../partials/header.ejs") %>
</head>
<body>
   <%- include ("../partials/nav.ejs") %>
   <h1>予約管理画面です</h1>
   <%- include ("../partials/footer.ejs") %>
</body>
</html>