<!DOCTYPE html>
<html lang="ja">
<head>
   <%- include ("../partials/header.ejs") %>
</head>

<body>
   <%- include ("../partials/nav.ejs") %>
   
   <div id='usersPage'>
       <h1 class='top-font'>お客様情報管理画面</h1>

       <!-- <div>
         <input type="file" accept="image/*" v-on:change="do_change">
         <input type="text" v-model="param_value">
         <button v-on:click="do_upload">do_upload</button>
     </div> -->
   
   </div>
   
   <%- include ("../partials/footer.ejs") %>
   <script src='js/customer.js'></script>
</body>
</html>