<!DOCTYPE html>
<html lang="ja">
<head>
   <%- include ("../partials/header.ejs") %>
</head>

<body>
   <%- include ("../partials/nav.ejs") %>
   
   <div id='usersPage'>
       <h1 class='top-font'>お客さま情報管理画面</h1>
   </div>
   
   <%- include ("../partials/footer.ejs") %>
   <script src='js/customer.js'></script>
</body>
</html>