<!DOCTYPE html>
<html>
<head>
    <title>Jewelry KAJITA</title>
    <%- include ("../partials/header.ejs") %>
</head>

<body>
    <div id='top_title'>
        <h1 id='line_name'></h1>
        <div id='setting'></div>
    </div>
    <div id='login_area'></div>

    <div id='customer_area'>
        <p id='customer_point'></p>
        <div id='customer_medal'></div>
        <div id='customer_rankup'></div>
    </div>

    <div class="toppage">
        <img src="/biyouin.jpg" class="img">
        <a type="button" class="btn btn-lg btn-outline-primary" id="toUsers" href="/users"><i class="fas fa-users"></i> 顧客情報</a>
        <a type="button" class="btn btn-lg btn-outline-primary" id="toReservations" href="/reservations"><i class="fas fa-book"></i></span> 予約管理</a>
    </div>
 
    <script src='js/main.js'></script>

    <%- include ("../partials/footer.ejs") %>
</body>
</html>
