<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Jewelry KAJITA</title>
    <link rel="stylesheet" type="text/css" href="stylesheets/main.css" />

</head>

<body>
        <div id='top_title'>
        <h1 id='line_name'></h1>
        <div id='setting'></div>
    </div>
    <div id='login_area'></div>

    <svg class="barcode" jsbarcode-value="123456789012">
  </svg>    

    <div id='customer_area'>
        <p id='customer_point'></p>
        <div id='customer_medal'></div>
        <div id='customer_rankup'></div>

        <div id='wrap_barcode'></div>
        <!-- <svg id="barcode"jsbarcode-value="201508044"></svg> -->
        
    </div>

    <script charset="utf-8" src="https://static.line-scdn.net/liff/edge/2/sdk.js"></script>
    <script src="js/JsBarcode.all.min.js"></script>
    <script src='js/main.js'></script>

</body>
</html>
