<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Jewelry KAJITA</title>
    <link rel="stylesheet" type="text/css" href="stylesheets/main.css" />
</head>

<body>
    <div id='top_title'>
        <h1 id='line_name'></h1>
        <div id='setting'></div>
    </div>
    <div id='login_area'></div>

    <div id='customer_area'>
        <p id='customer_point'></p>
        <div id='customer_medal'></div>
        <div id='customer_rankup'></div>


        <h2>自由入力バーコード生成<br><span>※18桁の数字のみ。</span></h2>
        <p class="input" id="js-generate">
          <span>JAN:</span>
          <input type="num" min="18" max="18" value="000000000201508044">
          <button>生成</button>
        </p>
        <div class="section">
          <svg class="js-barcode"></svg>
        </div>
        <div class="section">
          <canvas class="js-barcode"></canvas>
        </div>
        <div class="section">
          <img class="js-barcode">
        </div>
      
      
    </div>
 
    <script charset="utf-8" src="https://static.line-scdn.net/liff/edge/2/sdk.js"></script>
    <script src='js/main.js'></script>
</body>
</html>
