<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>ポイント付与</title>
    <link rel="stylesheet" type="text/css" href="stylesheets/main.css" />
    <link rel="stylesheet" type="text/css" href="stylesheets/shn.css" />

</head>

<body>

    <form method="POST" id="pointAddForm" name="pointAddForm">
        <div id='top_title'>
            <h1 id='line_name'></h1>
        </div>
    
        <table id='kokTable'></table>
        <span id="label_error">　</span>

    </form>      



    <script charset="utf-8" src="https://static.line-scdn.net/liff/edge/2/sdk.js"></script>
    <script src='js/pointAdd.js'></script>

</body>
</html>
