<!DOCTYPE html>
<html lang="ja">
<head>
   <%- include ("../partials/header.ejs") %>
</head>

<body>
   <%- include ("../partials/nav.ejs") %>
   
   <div id='usersPage'>
       <h1 class='top-font'>管理画面</h1>
       <form v-bind:action="base_url + '/upload'" method="post" enctype="multipart/form-data">
         <input type="file" name="upfile" accept="image/*">
         <input type="text" name="param" v-model="param_value">
         <input type="submit" name="submit" value="送信">
       </form>
      </div>
   
   <%- include ("../partials/footer.ejs") %>
   <script src='js/reservations.js'></script>
</body>
</html>