<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>お客様情報変更</title>
    <link rel="stylesheet" type="text/css" href="stylesheets/main.css" />
    <script charset="utf-8" src="https://static.line-scdn.net/liff/edge/2/sdk.js"></script>
</head>

<body>
    <p>変更して確認ボタンを押して下さい。</p>
    <div id='update_area'></div>

    <script src='js/update.js'></script>
</body>
</html>
