<!DOCTYPE html>
<html lang="ja">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>顧客管理画面</title>
   <%- include ("../partials/header.ejs") %>
</head>
<body>
   <h1>顧客管理画面です</h1>
   <%- include ("../partials/footer.ejs") %>
</body>
</html>